/* 
COLOR PALETTE
FAA275 background
FF8C61
CE6A85
985277
5C374C display and border
*/

:root {
  --background: #5C374C;
  --display: #000;
  --accent: #CE6A85;
  --subdominant-1: #FAA275;
  --subdominant-2: #FF8C61;
  --text-color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.App {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  border: 8px solid black;
  box-shadow: 0 0 0 4px #CE6A85;
  width: 20em;
  height: 25em;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#container > * {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.5em;
  
}

#display {
  grid-column: span 4;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--display);
  color: white;
  font-size: 2em;
}

#clear {
  grid-column: span 2;
  background-color: var(--accent);
}

#equals {
  grid-row: span 2;
}

#clear, #equals {
  background-color: var(--accent);
}

#zero {
  grid-column: span 2;
}

.number {
  background-color: var(--subdominant-1);
}

.operator {
  background-color: var(--subdominant-2);
}

#container > .button:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}
